.charts{
    /* margin: 80px; */
    margin-top: 10px;
    /* border:5px solid red; */
    width:100%;
    position: absolute;
    height:200px;
    bottom:-175px;
}
.chartsWrapper{
    display:flex;

}
.chart{
    /* margin-top:-15px; */
    height:80px;
    width:50%;
    /* position: absolute; */
    /* bottom:200px; */
}
/* .chartWPM{

}

.chartACC{

} */