.nav-wrapper{
    /* border:1px solid red; */
    width:20%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
}

.nav-wrapper{
    display:grid;
    grid-template-areas:
        'login-button'
        'scripts'
        'scripts'
        'leaderboard'
        'leaderboard'
        'leaderboard'
        'leaderboard'
        'leaderboard'
        'logout';
}
.login{
    grid-area: login-button;
    /* border:1px solid green; */
    display:flex;
    justify-content: center;
    align-items:center;
}
#login-button{
    height:50px;
    width:100px;
    z-index: 10;
}
.script-wrapper{
    grid-area: scripts;
    /* border:1px solid brown; */
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 10;
}
.logout{
    grid-area:logout;
    z-index: 10;
}
img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #ffffff;
}
.custom-modal {
    width: 500px;
    height: 300px;
    padding: 20px;
}
.side-nav-login-modal {
    margin: 50px 125px;
}
.login-input {
    margin: 20px auto;
}
.modal-btn {
    margin: 20px auto;
}
.click{
    z-index: 10;
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 30px;
    height: 24px;
    left: 36px;
    top: 52px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #d5d6d2;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #ffffff;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #2f2e33;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    border-radius: 20px;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.66)
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #d5d6d2;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #ffffff;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  