
@import url('https://fonts.googleapis.com/css?family=Stalinist+One');
textarea {
    color: transparent;
}
.DisplayText{
    top:100px;
    color: white;
    width:60%;
    min-width:60%;
    max-width:60%;
    height:220px;
    min-height:250px;
    max-height:275px;
    position: absolute;
    align-self:center;
    z-index:1000;
    padding-left: 1.5px;
    text-align:left;
    padding-top:7px;
    box-shadow: 1px 1px 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
}

.display-wrapper{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    display:flex;
    justify-content:center;
    z-index:-100;
    padding: 0px;
}
#snippetDisplay{
    font-family:'consolas';
    text-align: left;
    font-size:1.1em;
    margin:0px;
    position:relative;
    top:-1px;
    display: inline;
    /* color:rgba(0, 0, 0, 0.267); */
}
#snippetDisplay .untyped {
    color: white;
    display: inline;
}
#snippetDisplay .correct {
    color: #aaffaa;
    display: inline;
}
#snippetDisplay .incorrect {
    color: #ffaaaa;
    display: inline;
}
#snippetDisplay .enterKey {
    display: inline;
}
#snippetDisplay .current {
    animation:blinkingText 0.7s infinite;
    display: inline;
}
@keyframes blinkingText{
    0%{		color: black;	}
	49%{	color: transparent;	}
	50%{	color: transparent;	}
	100%{	color: #afafaf;	}
}

