
@import url('https://fonts.googleapis.com/css?family=Stalinist+One');
textarea {
    color: transparent;
}
.DisplayText{
    top:100px;
    color: white;
    /* border:3px dotted yellow; */
    width:60%;
    min-width:60%;
    max-width:60%;
    height:250px;
    min-height:250px;
    max-height:250px;
    position: absolute;
    align-self:center;
    z-index:1000;
    padding-left: 1.5px;
    text-align:left;
    padding-top:7px;
    box-shadow: 1px 1px 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 30px;
}

.display-wrapper{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    display:flex;
    justify-content:center;
    z-index:-100;
    padding: 0px;
}
#snippetDisplay{
    font-family:'consolas';
    text-align: left;
    font-size: 1.2em;
    margin:0px;
    position:relative;
    top:-1px;
}
#snippetDisplay .untyped {
    color: white;
}
#snippetDisplay .correct {
    color: #aaffaa;
}
#snippetDisplay .incorrect {
    color: #ffaaaa;
}
#snippetDisplay .current {
    animation:blinkingText 0.6s infinite;
}
@keyframes blinkingText{
    0%{		color: #7364c7;	}
	50%{	color: #a499e1;	}
	100%{	color: white;	}
}

