@import url('https://fonts.googleapis.com/css?family=Stalinist+One');
.DisplayText{
    top:206px;
    /* border:3px dotted yellow; */
    width:60%;
    min-width:60%;
    max-width:60%;
    height:400px;
    min-height:400px;
    max-height:400px;
    position: absolute;
    align-self:center;
    z-index:-10;   
    padding-left: 2px; 
}

.display-wrapper{
    width:100%;
    height:100%;
    /* border:8px dashed purple; */
    position: absolute;
    top:0px;
    left:0px;
    display:flex;
    justify-content:center;
    z-index:-10;
}
#snippetDisplay{
    font-family:'Stalinist One';
    text-align: left;
    font-size:50%;
    
}