@import url('https://fonts.googleapis.com/css?family=Stalinist+One');

#text-input{
    width:60%;
    min-width:60%;
    max-width:60%;
    height:250px;
    min-height:250px;
    max-height:250px;
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 10;
    color:rgb(0, 0, 0);
    /* text-align: left; */
    font-family:'Stalinist One';
    text-align: left;
    font-size:80%;
    position:relative;
    z-index: 200;
    /* padding-left:2px */
    border:none;
    border-radius: 5px;

}
.script{
    cursor:default;
}
.typing-wraper{
    position:relative;
    z-index: -200;
}