@import url('https://fonts.googleapis.com/css?family=Stalinist+One');

#text-input{
    width:60%;
    min-width:60%;
    max-width:60%;
    height:220px;
    min-height:250px;
    max-height:275px;
    background-color: rgba(0, 0, 0, 0.329);
    text-align: left;
    border:none;
    border-radius: 5px;
    margin-top:30px;
    position: relative;
    z-index: 100;

}
.script{
    cursor:default;
}
.typing-wrapper{
    position:relative;
    z-index: -200;
}
.buttonWrapper{
    display:grid;
    grid-template-areas: 'button1 language button2';
    width:600px;
    align-self: center;

}
.wrapper-wrapper{
    display:flex;
    justify-content: center;
}

.button{
    width: 215px;
    height: 60px;
    margin-top: 5px;
    position: relative;
    background-color: transparent;
    border: 2px solid #2a3f7b;
    border-radius: 50px;
    color: #2a3f7b;
    font-weight: 400;
    font-size: 1.0em;
    cursor: pointer;
    overflow: hidden;
}

#previous{
    grid-area: button1;
    align-self: center;
    justify-self: center;

}
#language{
    margin-top:30px;
    grid-area: language;
}
#next{
    grid-area:button2;
    align-self: center;
    justify-self: center;
}