
#text-input{
    width:60%;
    min-width:60%;
    max-width:60%;
    height:400px;
    min-height:400px;
    max-height:400px;
    background-color: rgba(0, 0, 0, 0.329);
    z-index: 10;
    color:rgba(255, 0, 0, 0.966);
    /* text-align: left; */

}
.script{
    cursor:default;
}
.tabClass {
    
}