.metrics-modal-wrapper{
    height:98%;
    width:99%;
    background:rgba(0, 0, 0, 0.418);
    border:10px solid green;
    position:absolute;

}
.metrics-wrapper2{
    border:10px solid yellow;
    width:70%;
    height:80%;
    margin:auto;
    margin-top:5%;
    background: white;    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        '. CPM WPM ACC .'
        '. . . . .'
        '. . next-button . .';
    padding:20px;
}
.WPM-wrapper{
    grid-area:WPM;
    border:1px solid #bada55;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CPM-wrapper{
    grid-area:CPM;
    border:1px solid #bada55;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ACC-wrapper{
    grid-area:ACC;
    border:1px solid #bada55;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.next-button{
    grid-area:next-button
}