@import url('https://fonts.googleapis.com/css?family=Stalinist+One');
.display{
    top:206px;
    border:3px dotted purple;
    width:60%;
    min-width:60%;
    max-width:60%;
    height:400px;
    min-height:400px;
    max-height:400px;
    position: absolute;
    align-self:center;
    z-index:-10;    
    

}

.display-wrapper{
    width:100%;
    height:100%;
    /* border:8px dashed purple; */
    position: absolute;
    top:0px;
    left:0px;
    display:flex;
    justify-content:center;
    z-index:-10;
}
#childrenprops{
    text-align: left;
font-family:'Stalinist One'

}