.App {
  text-align: center;
  height:99vh;
  /* border:5px solid yellow; */
  /* position: relative;
  z-index: -2200; */
  
}

body{
  height:100vh;
  /* border:2px solid rebeccapurple; */
  
}

html{
  background-image: linear-gradient(99deg, #6de5f5, #59ecad 60%);
  
}
/* #id{
  position:relative;
  z-index:-2000;
} */