.App {
  text-align: center;
  height:99vh;
  position:relative;
  z-index: -2000;
  
}
#root{
  position:relative;
  z-index: -2000;
}

body{
  height:100vh;
  position:relative;
  z-index: -2000;
}

html{
  background-image: linear-gradient(180deg, #2a3f7b, #ffffff 130%);
  height:100vh;
  position:relative;
  z-index: -2000;
}
