.metrics-wrapper{
    display:grid;
    padding:50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:'. CPM WPM ACC .'
                        ' . . timer . .  ';
    flex-direction: row;
    justify-content: space-around;
    /* border:1px solid pink; */
    height:200px;
}

.WPM{
    /* border:1px solid pink; */
    grid-area: WPM;
    cursor:default;
    padding:30px;

}

.CPM{
    /* border:1px solid pink; */
    grid-area:CPM;
    cursor:default;
    padding:30px;
}

.ACC{
    /* border:1px solid pink; */
    grid-area:ACC;
    cursor:default;
    padding:30px;
}

.Metric{
    font-weight: 600;
    font-size:1.3em;
    margin-bottom:10px;
}